<%= link_to "Return to see all the assigned projects", projects_path %> 
<br><br>
<% if current_user.role == "qa"%>
    <%= link_to "Add New Bug to this project" , new_buge_path(project_id: @project.id)  %>

    <% @buge.each do |buge| %>
        <h5 class="card-title">title: <%=buge.title%></h5>
        <%= button_to "Delete this Bug", buge_path(buge), method: :delete,
                                    data: { confirm: "Are you sure you want to delete?" },
                                    class: "btn btn-xs btn-danger" %>
            <%= link_to "Edit this bug", edit_buge_path(buge , project_id: @project.id) %> 

        <p class="card-text">description: <%=buge.description%></p>
        <p class="card-text">BugType: <%=buge.typeBug%></p>
        <p class="card-text">deadline: <%=buge.deadline%></p>
        <p class="card-text">status: <%=buge.status%></p>
        <p>bug Project Id: <%= buge.project.id %></p>
        <img src = '<%=buge.image%>' style="max-width: 50%; max-height: 100%;" />
        <br>
        <br>
    <% end %>
<% elsif current_user.role == "developer"%>
    <% @buge.each do |buge| %>

        <h5 class="card-title"><%=buge.title%>, <%=buge.status%> <%= link_to "Edit this bug status", edit_buge_path(buge , project_id: @project.id) %> 
        </h5>
        <br>
    <% end %>


<% end %>