<h1>Pages#home</h1>
<% if current_user %>
  <% if current_user.role == "manager" %>
  <h1>Manager</h1>
    <%= render template: "projects/index" %>
  <% elsif current_user.role == "developer" %>
    <h1>Developer</h1>
    <%= render template: "projects/index" %>
  <% elsif current_user.role == "qa" %>
    <h1>QA</h1>
    <%= render template: "projects/index" %>
  <% end %>
<% else %>
  <h1>You are not signed in</h1>    
  <%= link_to "Sign up", new_user_registration_path %>
  <br>
  <%= link_to "Sign in", new_user_session_path %>
<% end %>
