
<h2>Project title: <%=@project.title%></h2>
<p>Description: <%=@project.description%></p>
<small>Created by :<%= @project.user.email %></small>

<h3>Assigned to:</h3>
<% @project.assigns.each do |project| %>
  <li><%= project.user.email %></li>
  <% end %> 
<p>created: <%= time_ago_in_words(@project.created_at) %> ago</p>

  <%= link_to "Edit this project", edit_project_path(@project), 

                                                class: 'btn btn-xs btn-warning' %>
  <%= button_to "Delete this project", project_path(@project), method: :delete,
                                    data: { confirm: "Are you sure you want to delete?" },
                                    class: "btn btn-xs btn-danger" %>
</div>  
<%= link_to "return to project listing", projects_path %> 
</div>